<!-- <div class="ui-g ui-fluid"> -->
<div class="ui-g">
  <app-fms-function [card-header]="'Create'" class="ui-g-4"></app-fms-function>
  <app-fms-function [card-header]="'Delete'" class="ui-g-4"></app-fms-function>
  <app-fms-function [card-header]="'Download'" class="ui-g-4"></app-fms-function>
  <app-fms-function [card-header]="'Upload'" class="ui-g-4"></app-fms-function>
  <app-fms-function [card-header]="'Read'" class="ui-g-4"></app-fms-function>
  <app-fms-function [card-header]="'Save'" class="ui-g-4"></app-fms-function>
</div>
