
<p-card [style]="{width: '360px'}" styleClass="ui-card-shadow">

  <p-header>
     <!-- <img src="Card" src="../../assets/images/NicePng_event-png_1257327.png" height="42" width="42"> -->
  </p-header>
  <div>
    <div  ><label for="wrwer"> db</label></div>
    <div ><input pInputText id="werwer" value="{{db}}"/></div>
  </div>
  <div>
    <div  ><label for="wrwer">op</label></div>
    <div ><textarea pInputTextarea value="{{op}}"></textarea></div>


  </div>

  <p-footer>
       <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
       <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button>
   </p-footer>
</p-card>
